<% layout('layout') -%>
<h2>Events</h2>
<ul>
  <% events.forEach(event => { %>
    <li>
      <strong><%= event.title %></strong> - <%= event.date.toDateString() %><br>
      <%= event.description %><br>
      <%= event.location %>
    </li>
  <% }) %>
</ul>
<% if (user) { %>
  <a href="/events/add">Add Event</a>
<% } %>
